parameters:
    scanFiles:
        - src/IntelliSenseHelper.php
        - ../../oxid-esales/oxideshop-ce/source/oxfunctions.php
    paths:
        - src
    level: 5
    phpVersion: 70400
    ignoreErrors:
        - '#Call to an undefined method OxidEsales\\Eshop\\Core\\Controller\\BaseController::getNavigationParams\(\)\.#'
        - '#Call to an undefined method PHPUnit\\Framework\\MockObject\\MockObject::.*#'
        - '#Return type \(array\) of method D3\\Webauthn\\Application\\Controller\\d3webauthnlogin::getBreadCrumb\(\) should be compatible with return type \(null\) of method OxidEsales\\EshopCommunity\\Application\\Controller\\FrontendController::getBreadCrumb\(\)#'
        - '#PHPDoc tag @throws with type OxidEsales\\EshopCommunity\\Internal\\Framework\\Module\\Configuration\\Exception\\ModuleConfigurationNotFoundException|Psr\\Container\\ContainerExceptionInterface is not subtype of Throwable#'